@charset "UTF-8";
/*!
  * twibiract-an v1.1 0.1 (https://twibiractan.cg/)
  * Droits d'auteur 2024 auteur de twibiract: Esdras Nsounda
  *Inspiré de: [
   getbootstrap, tailwindcss, scroll-driven, animate-css]
 */
:root {
  --tw-animation-durer: 1s;
  --tw-animation-delai: 1s;
  --tw-animation-repeter: 1;
}

.animation {
  animation-duration: var(--tw-animation-durer);
  animation-fill-mode: both;
}

.animation.infinie {
  animation-iteration-count: infinite;
}