.animation {
  animation-duration: var(#{$prefixe-an}animation-durer);
  animation-fill-mode: both;
}

.animation.infinie {
  animation-iteration-count: infinite;
}

.animation.repeter-1 {
  animation-iteration-count: var(#{$prefixe-an}animation-repeter);
}

.animation.repeter-2 {
  animation-iteration-count: calc(var(#{$prefixe-an}animation-repeter) * 2);
}

.animation.repeter-3 {
  animation-iteration-count: calc(var(#{$prefixe-an}animation-repeter) * 3);
}

.animation.repeter-4 {
  animation-iteration-count: calc(var(#{$prefixe-an}animation-repeter) * 4);
}

.animation.repeter-5 {
  animation-iteration-count: calc(var(#{$prefixe-an}animation-repeter) * 5);
}

.animation.repeter-6 {
  animation-iteration-count: calc(var(#{$prefixe-an}animation-repeter) * 6);
}

.animation.repeter-7 {
  animation-iteration-count: calc(var(#{$prefixe-an}animation-repeter) * 7);
}

.animation.repeter-8 {
  animation-iteration-count: calc(var(#{$prefixe-an}animation-repeter) * 8);
}

.animation.repeter-9 {
  animation-iteration-count: calc(var(#{$prefixe-an}animation-repeter) * 9);
}

.animation.repeter-10 {
  animation-iteration-count: calc(var(#{$prefixe-an}animation-repeter) * 10);
}

.animation.delai-100ms {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 100ms);
}

.animation.delai-150ms {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 150ms);
}

.animation.delai-200ms {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 200ms);
}

.animation.delai-250ms {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 250ms);
}

.animation.delai-300ms {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 300ms);
}

.animation.delai-350ms {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 350ms);
}

.animation.delai-400ms {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 400ms);
}

.animation.delai-450ms {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 450ms);
}

.animation.delai-500ms {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 500ms);
}

.animation.delai-550ms {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 550ms);
}

.animation.delai-600ms {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 600ms);
}

.animation.delai-650ms {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 650ms);
}

.animation.delai-700ms {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 700ms);
}

.animation.delai-750ms {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 750ms);
}

.animation.delai-800ms {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 800ms);
}

.animation.delai-850ms {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 850ms);
}

.animation.delai-900ms {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 900ms);
}

.animation.delai-950ms {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 950ms);
}

.animation.delai-1s {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 1s);
}

.animation.delai-2s {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 2s);
}

.animation.delai-3s {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 3s);
}

.animation.delai-4s {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 4s);
}

.animation.delai-5s {
  animation-delay: calc(var(#{$prefixe-an}animation-delai) * 5s);
}